.project_container{
    padding: 2em;
}

.title_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.title_container h1{
    margin-right: 23em;
}

.no_projects{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9em;
    font-size: 1.3em;
}